{% extends 'base.html' %}

{% block title %}Accounts & Cards - Finance Tracker{% endblock %}

{% block content %}
<h2>Accounts & Cards</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Bank Name</th>
            <th>Card Type</th>
            <th>Account Number</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.bank_name }}</td>
            <td>{{ account.card_type }}</td>
            <td>{{ account.account_number }}</td>
            <td>{{ account.balance }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
